Repository wazo-platform/wazo-load-stack: changes, and which Jenkins stages are due for each by the changed paths.
All: Changes to wlapi, Changes to wlcli, Changes to pilot

Jenkinsfile:

pipeline {
    agent any
    triggers {
        githubPush()
        pollSCM('H H * * *')
    }
    options {
        timestamps()
    }
    stages {
        stage('Changes to wlapi') {
            when { changeset "wazo_load_api/**" }
            steps {
                echo 'wlapi change detected'
            }
        }
        stage('Changes to wlcli') {
            when { changeset "wazo_load_cli/**" }
            steps {
                echo 'wlcli change detected'
            }
        }
        stage('Changes to pilot') {
            when { changeset "wazo_load_pilot/**" }
            steps {
                echo 'pilot change detected'
            }
        }
    }
}

wlapi: docker: move wav file to our mirror
  wazo_load_api/wlapi/docker/Dockerfile.tmpl
Due: Changes to wlapi

wlapi: docker: use docker hub to push images
  Jenkinsfile
  wazo_load_api/Makefile
Due: Changes to wlapi

wlapi: readme: update to use docker hub
  wazo_load_api/wlapi/README.md
Due: Changes to wlapi

wlapi: change image name
  wazo_load_cli/wlctl/etc/compose.ini
  wazo_load_cli/wlctl/modules/compose.py
Due: Changes to wlcli

wlapi: docker: fix wav filename
  wazo_load_api/wlapi/docker/Dockerfile.tmpl
Due: Changes to wlapi

wlapi: docker: move image to wazoplatform namespace
  Jenkinsfile
  wazo_load_api/Makefile
  wazo_load_api/wlapi/README.md
  wazo_load_cli/wlctl/etc/compose.ini
  wazo_load_cli/wlctl/modules/compose.py
Due: Changes to wlapi, Changes to wlcli

wlapi: bump version to test the ci
  Jenkinsfile
  wazo_load_api/version
Due: Changes to wlapi

config: remove copied option that are unused
  wazo_load_api/wlapi/etc/wazo-load-api/config.yml
  wazo_load_pilot/etc/wazo-load-pilot/config.yml
Due: Changes to wlapi, Changes to pilot

tox: add pilot integration tests
  tox.ini
Due: none

wlpd: add integration tests
  wazo_load_pilot/integration_tests/Makefile
  wazo_load_pilot/integration_tests/assets/docker-compose.base.override.yml
  wazo_load_pilot/integration_tests/assets/docker-compose.yml
  wazo_load_pilot/integration_tests/suite/__init__.py
  wazo_load_pilot/integration_tests/suite/conftest.py
  wazo_load_pilot/integration_tests/suite/helpers/__init__.py
  wazo_load_pilot/integration_tests/suite/helpers/base.py
  wazo_load_pilot/integration_tests/suite/test_process_load.py
  wazo_load_pilot/integration_tests/suite/test_status.py
  wazo_load_pilot/integration_tests/test-requirements.txt
Due: Changes to pilot

zuul: add pilot integration tests
  zuul.yaml
Due: none

pilot: add /fleet/start
  .gitignore
  wazo_load_pilot/config.py
  wazo_load_pilot/integration_tests/Makefile
  wazo_load_pilot/integration_tests/assets/docker-compose.vms.override.yml
  wazo_load_pilot/integration_tests/assets/docker-compose.yml
  wazo_load_pilot/integration_tests/assets/vms/Dockerfile
  wazo_load_pilot/integration_tests/assets/vms/docker-mock.sh
  wazo_load_pilot/integration_tests/assets/vms/etc/wazo-load-pilot/conf.d/override.yml
  wazo_load_pilot/integration_tests/suite/conftest.py
  wazo_load_pilot/integration_tests/suite/helpers/base.py
  wazo_load_pilot/integration_tests/suite/test_fleet.py
  wazo_load_pilot/plugins/fleet/__init__.py
  wazo_load_pilot/plugins/fleet/dependencies.py
  wazo_load_pilot/plugins/fleet/http.py
  wazo_load_pilot/plugins/fleet/plugin.py
  wazo_load_pilot/plugins/fleet/services.py
  wazo_load_pilot/requirements.txt
  wazo_load_pilot/setup.py
Due: Changes to pilot

fleet start: use asyncssh instead of fabric
  wazo_load_pilot/integration_tests/suite/test_fleet.py
  wazo_load_pilot/plugins/fleet/http.py
  wazo_load_pilot/requirements.txt
Due: Changes to pilot

makefile: fix directory creation syntax
  wazo_load_pilot/integration_tests/Makefile
Due: Changes to pilot

fleet: add the stop resource
  wazo_load_pilot/integration_tests/suite/test_fleet.py
  wazo_load_pilot/plugins/fleet/http.py
Due: Changes to pilot

fleet tests: check success message
  wazo_load_pilot/integration_tests/suite/test_fleet.py
Due: Changes to pilot

fleet: refactor errors handling
  wazo_load_pilot/plugins/fleet/http.py
Due: Changes to pilot

fleet: return HTTP error on ssh error
  wazo_load_pilot/plugins/fleet/http.py
Due: Changes to pilot

fleet: refactor: add the run_on_all_gateways func
  wazo_load_pilot/plugins/fleet/http.py
Due: Changes to pilot

pilot-integration-tests: make test setup more robust
  wazo_load_pilot/integration_tests/Makefile
Due: Changes to pilot

cli: add the fleet start command
  wazo_load_cli/wlctl/commands.py
Due: Changes to wlcli

upgrade bookworm
  .pre-commit-config.yaml
  pyproject.toml
  tox.ini
  wazo_load_api/wlapi/docker/Dockerfile.tmpl
  wazo_load_cli/INSTALL.md
  wazo_load_pilot/docker/pilot.Dockerfile.tmpl
  wazo_load_pilot/docker/sserver.Dockerfile
  zuul.yaml
Due: Changes to wlapi, Changes to wlcli, Changes to pilot

wlapi: use bookworm base image for wda
  wazo_load_api/wlapi/docker/Dockerfile.tmpl
Due: Changes to wlapi

wlapi: use apt-get instead of apt
  wazo_load_api/wlapi/docker/Dockerfile.tmpl
Due: Changes to wlapi

bump wlapi version
  wazo_load_api/version
Due: Changes to wlapi

jenkinsfile: use same indent than other projects
  Jenkinsfile
Due: none

gitignore: add .tox and .pyc (removing __pycache__)
  .gitignore
Due: none

use AWS worker
  Jenkinsfile
Due: none

bump version to allow rebuild
  wazo_load_api/version
Due: Changes to wlapi

jenkinsfile: use docker creds to push image
  Jenkinsfile
Due: none

clone submodule into https instead of ssh
  .gitmodules
Due: none

wazo-load-pilot: move python files into its own package
  tox.ini
  wazo_load_pilot/__init__.py
  wazo_load_pilot/plugins/__init__.py
  wazo_load_pilot/setup.py
  wazo_load_pilot/wlpd/__init__.py
  wazo_load_pilot/wlpd/config.py
  wazo_load_pilot/wlpd/controller.py
  wazo_load_pilot/wlpd/http_server.py
  wazo_load_pilot/wlpd/main.py
  wazo_load_pilot/wlpd/plugins/__init__.py
  wazo_load_pilot/wlpd/plugins/fleet/__init__.py
  wazo_load_pilot/wlpd/plugins/fleet/dependencies.py
  wazo_load_pilot/wlpd/plugins/fleet/http.py
  wazo_load_pilot/wlpd/plugins/fleet/plugin.py
  wazo_load_pilot/wlpd/plugins/fleet/services.py
  wazo_load_pilot/wlpd/plugins/pilot/__init__.py
  wazo_load_pilot/wlpd/plugins/pilot/api.yml
  wazo_load_pilot/wlpd/plugins/pilot/commands.py
  wazo_load_pilot/wlpd/plugins/pilot/http.py
  wazo_load_pilot/wlpd/plugins/pilot/pilot.py
  wazo_load_pilot/wlpd/plugins/pilot/plugin.py
  wazo_load_pilot/wlpd/plugins/pilot/services.py
  wazo_load_pilot/wlpd/plugins/pilot/tests/__init__.py
  wazo_load_pilot/wlpd/plugins/pilot/tests/test_commands.py
  wazo_load_pilot/wlpd/plugins/status/api.yml
  wazo_load_pilot/wlpd/plugins/status/dependencies.py
  wazo_load_pilot/wlpd/plugins/status/http.py
  wazo_load_pilot/wlpd/plugins/status/plugin.py
  wazo_load_pilot/wlpd/tests/__init__.py
  wazo_load_pilot/wlpd/tests/certificate.csr
  wazo_load_pilot/wlpd/tests/certificate.pem
  wazo_load_pilot/wlpd/tests/private.key
  wazo_load_pilot/wlpd/tests/simple_serve.py
Due: Changes to pilot

gitiginore: add Dockerfile from wazo_load_api project
  .gitignore
Due: none

mypy: exclude setup.py for now
  .pre-commit-config.yaml
Due: none

fix usage of wlpd package on other project
  tox.ini
  wazo_load_api/wlapi/plugins/job/tests/test_http.py
Due: Changes to wlapi

pre-commit: bump mypy
  .pre-commit-config.yaml
Due: none

typing: handle BaseException in run_on_all_gateways
  wazo_load_pilot/wlpd/plugins/fleet/http.py
Due: Changes to pilot
